/*Sirius Style*/
* {
	margin: 0px;
	padding: 0px;
	outline: 0;
}

/* AZUL = 0A607E */

html {
	background-color: #EEEFF1
}

body {
	background-color: #FFFFFF;
	width: 900px;
	margin: 10px auto 0px auto;
	position: relative;
	font-family: Arial;
	border: solid 1px;
	border-color: #C8C8C8;
}

input{
	font-family: Arial;
	color: #7C7C7C;
}

select {
	font-family: Arial;
	color: #7C7C7C;
}

.emptylist{
	margin: 20px;
	text-align: center;
	width: 100%; 
	float:none;
}

div.ui-datepicker{
	font-size:10px;
 	margin-left: -319px
}


.top-head {
	position: relative;
	background-color: #126180;
	width: 900px;
	height: 8px;
	border-bottom: solid 1px;
	border-color: #C8C8C8;
}

/*MENU*/
.menu-container {
	position: relative;
	background-color: #FEFEFE;
	width: 900px;
	height: 40px;
	border-bottom: 1px solid  #C8C8C8;
}

#menu {
	text-align: center;
	font-size: 1.1em;
	width: 820px;
	margin: 0px;
}

#menu ul {
	list-style-type: none;
}

#menu ul li.nivel1 {
	float: left;
	width: 162px;
	height: 29px;
    margin-right: 0;
    margin-top: 4px;
}

#menu ul li a {
	display: block;
	text-decoration: none;
	background-color: #fff;
	padding: 5px;
	position: relative;
	color: #7B7D7C;
}

#menu ul li ul li a {
	font-size: 0.8em;
}

#menu ul li:hover {
	position: relative;
}

#menu ul li a:hover,#menu ul li:hover a.nivel1 {
	background-color: #F0F0F0;
	color: #1A6A85;
	position: relative;
}

#menu ul li a.nivel1 {
	display: block !important;
	display: none;
	position: relative;
}

#menu ul li ul {
	display: none;
}

#menu ul li a:hover ul,#menu ul li:hover ul {
	display: block;
	position: absolute;
	left: 0px;
}

#menu ul li ul{
	border-left: 1px solid #F2F2F2;
	border-right: 1px solid #F2F2F2; 
}

#menu ul li ul li{
	border-bottom: 1px solid #F2F2F2;
	 
}


#menu ul li ul li a {
	width: 160px;
	padding: 6px 0px 8px 0px;
	border-top-color: #000;
}

#menu ul li ul li a:hover {
	border-top-color: #000;
	position: relative;
}

/*END MENU*/
.body-container {
	border: 1px solid;
	border-color: #C8C8C8;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 10px;
}

.body-foot {
	position: relative;
	background-color: #126180;
	height: 5px;
	border-top: solid 1px;
	border-color: #C8C8C8;
}

h1 {
	color: #10617F;
	font-size: 16px;
	font-style: normal;
	font-weight: lighter;
	border-bottom: 1px solid #B11116;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 20px;
	margin-top: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
}

label {
	color: #7C7C7C;
	font-size: 15px;
	font-style: normal;
	font-weight: lighter;
	margin-left: 15px;
	margin-right: 5px;
	width: 250px;
	float: left;
}



table {
	border: 1px solid #D2D1D6;
	font-size: small;
	border-width: 1px;
	border-spacing: 0px;
	width: 850px;
	margin: 15px 15px 15px 15px;
}

table th {
	border-width: 0px;
}

table td {
	border-width: 0px;
}

table thead a {
	border: none;
	text-decoration: none;
	color: #FFFFFF;
	margin: 0;
	background-color: #0D5772;
	float: none;
}

table thead {
	color: #ffffff;
	background-color: #0d5772;
	font-size: 10px;
	height: 20px;
}

table tbody a {
	float: right;
	font-size: 7px;
}

.tabla tr {
	text-align: center;
}

.tabla tr.odd {
	background-color: #FFFFFF;
	color: #445872;
	line-height: 18px;
	text-align: center;
}

.tabla tr.odd a {
	color: #445872;
	font-weight: bold;
	text-decoration: none;
}

.tabla tr.odd a.hover {
	color: #445872;
	font-weight: bold;
	text-decoration: underline;
}

.tabla tr.even {
	background-color: #E2ECF9;
	color: #445872;
	line-height: 18px;
	text-align: center;
}

.tabla tr.even a {
	color: #445872;
	font-weight: bold;
	text-decoration: none;
}

.tabla tr.even a:hover {
	color: #445872;
	font-weight: bold;
	text-decoration: underline;
}

/*Filtros de Busqueda*/
.form {
	line-height:10px;
}

.form label {
	text-align: right;
	padding-right: 5px;
	padding-top: 5px;
	
}

.form input{
	border: 1px solid #D3D3D3;
	width: 140px;
	height: 20px;
}

.form select{
	border-style:none;
	border: 1px solid #D3D3D3;
	width: 140px;
	text-align: center;
	height: 20px;
}

.boton a {
	border: solid 1px #D2D1D6;
	text-decoration: none;
	margin: 10px;
	padding: 7px;
	float: right;
	border-color: #11627D;
	color: #11627D; 
}

.boton a:HOVER {
	border-color: #D71A21;
	color: #D71A21; 
}

